@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
    font-family: "Comfortaa" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

    /* header */
.header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 120PX;
}

.header .div2{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .div2 ul{
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-around;

}

.div3 input{
    background-color: #FFCCFD;
    color-scheme: unset;
    border: none;
    border-radius: 20px;
    padding-left: 20px;    
}

::placeholder{
    color: white;
}

.header .div3{
    width: 200px;
    height: 40%;
    display: flex;
    background-color: #FFCCFD;
    border-radius: 20px;
}
.header .button{
    background-color: transparent;
    color: white;
    border: none;
}

a{
    color: #000000;
    text-decoration: none;
}

.header .active{
}

    /* home  */
    /* home.section1 */

.home_section1 {
    background: linear-gradient(to top, white 0%,#cccccc 85%,white 93%);
}

.home_section1 .max_div{
    background: linear-gradient(to bottom right,#CA26FF 7%, #F4CAC0 85%, #FFF3B0 100%);
    border-radius: 20px 20px 300px 20px;
    height: 700px;
    display: flex;
    justify-content: center;

}

.home_section1 .max_div .div1{
    width: 600px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.home_section1 .max_div .dive1{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home_section1 .max_div .div2{
    width: 400px;
    display: flex;
    align-items: center;
}

.home_section1 .max_div img{
    width: 100%;
}

.home_section1 .max_div p{
    color: white;
    width: 83%;
    line-height: 170%;
    margin-right: 60px;
}
.home_section1 .max_div button{
    background-color: black;
    color: #FFCCFD;
    margin-top: 30px;
    width: 150px;
    height: 40PX;
    border-radius: 20px;
    border: none;
}

.home_section1 h1{
    font-size: 40px;
    letter-spacing: 6px;
}
.home_section1 .max_div h3{
    margin-top: 10px;
    color: white;
    letter-spacing: 15px;
}



/* home.sectiom2 */

.home_section2{
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.home_section2 .div1{
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_section2 img{
    width: 190px;
}

.home_section2 .div1 div{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.home_section2 button{
    background-color: #330031;
    color: white;
    height: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: none;
}

.home_section2 .ima{
    height: 270px;
    margin-top: 30%;

}

.home_section2 .div2{
    width: 100%;
    position: relative;
}

    /* home.section3 */

.home_section3 img{
    width: 30%;
    margin: 10px;
}

.home_section3{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.home_section3 ul{
    height: 50px;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.home_section3 .max_div1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home_section3 .div2{
    width: 75%;

    display: flex;
    align-content: center;
    flex-direction: column;
}

.home_section3 .div2 div{
    display: flex;
    justify-content: center;
}

    /* home.section4 */

.home_section4{
    height: 800px;
    background: linear-gradient(to top, white 0%,#cccccc 85%,white 100%);
    display: grid;
    align-content: space-around;
    position: relative;
}

.home_section4 .max_div1{
    height: 600px;

    display: flex;
    justify-content: space-around;
}

.home_section4 .dive{
    width: 26%;
    height: 85%;
    background-color: #330031;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.home_section4 .max_div1 .div1{
    background-color: white;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.home_section4 pre{
    font-size: 15px;
}

.home_section4 h1{
    font-size: 30px;
    letter-spacing: 6px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.home_section4 .button{
    background-color: #330031;
    color: white;
    font-size: 20px;
    border: none;
    margin: 12px;
}








