@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
    font-family: "Comfortaa" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

    /* header */
.header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 120PX;
}

.header .div2{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .div2 ul{
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-around;

}

.div3 input{
    background-color: #FFCCFD;
    color-scheme: unset;
    border: none;
    border-radius: 20px;
    padding-left: 20px;    
}

::placeholder{
    color: white;
}

.header .div3{
    width: 200px;
    height: 40%;
    display: flex;
    background-color: #FFCCFD;
    border-radius: 20px;
}
.header button{
    background-color: transparent;
    border: none;
    color: white;
}

a{
    color: #000000;
    text-decoration: none;
}

    /* home  */
    /* home.section1 */

.max_div{
    background: linear-gradient(to bottom right,#CA26FF 7%, #F4CAC0 85%, #FFF3B0 100%);
    border-radius: 20px 20px 300px 20px;
    height: 700px;
    display: flex;
    justify-content: center;

}

.max_div .div1{
    width: 600px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.max_div .dive1{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.max_div .div2{
    width: 400px;
    display: flex;
    align-items: center;
}

.max_div img{
    width: 100%;
}

.max_div p{
    color: white;
    width: 83%;
    line-height: 170%;
    margin-right: 60px;
}
.max_div button{
    background-color: black;
    color: #FFCCFD;
    margin-top: 30px;
    width: 150px;
    height: 40PX;
    border-radius: 20px;
    border: none;
}

.max_div h1{
    font-size: 30px;
    letter-spacing: 6px;
}
.max_div h3{
    margin-top: 10px;
    color: white;
    letter-spacing: 8px;
}

.home_section1 span{
    position: absolute;
    background-color: white;
    left: 20px;
    bottom: 100%;

}

/* home.sectiom2 */

.home_section2{
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.home_section2 .div1{
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_section2 img{
    width: 180px;
}

.home_section2 .div1 div{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.home_section2 button{
    background-color: #330031;
    color: white;
    height: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: none;
}

.home_section2 .ima{
    height: 270px;
    margin-top: 30%;

}

.home_section2 .div2{
    width: 100%;
    text-decoration: overline;
}










